<nav>
    {% if menus %}
        <!-- Loop through menus -->
        {% for menu in menus %}
            <!-- Menu Name -->
            <div class="mb-4 pb-4 border-b border-gray-300 mt-6">
                <h3 class="font-bold text-base mb-4">{{ menu.name }}</h3>
                
                <!-- Menu Items -->
                <ul class="pl-6">
                    {% for item in menu.filtered_items %}
                        <!-- Menu Item -->
                        <li class="mb-3 text-sm">
                            <a href="{{ item.url }}" class="flex items-center p-2 rounded-md mr-4 hover:bg-gray-200 {% if request.path == item.url %}bg-blue-400 text-white{% endif %}">
                                <!-- Dynamic Icon for each menu item -->
                                <i class="{{ item.icon }} mr-2"></i>
                                {{ item.name }}
                            </a>
                            
                            <!-- Submenu (Child Items) -->
                            {% if item.filtered_children %}
                                <ul class="pl-6 mt-2">
                                    {% for child in item.filtered_children %}
                                        <li class="mb-1 text-sm">
                                            <a href="{{ child.url }}" class="flex items-center p-2 rounded-md hover:bg-gray-200 {% if request.path == child.url %}bg-blue-400 text-white{% endif %}">
                                                <i class="bi bi-file-earmark-text-fill mr-2"></i>
                                                {{ child.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>No menu available.</p>
    {% endif %}
</nav>
